:root{
    font-size: 11px;
}
header .logo{
    width: 27%;
}
header .list i.fa-bars-staggered{
    display: block;
}
header .list ul{
    width: 100vw;
    height: 30vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    position: absolute;
    top: 15vh;
    left: 0;
    background-color: #aaa;
}
header .list ul.show{
    display: none;
}
header .list ul::before{
    content: '';
    position: absolute;
    top: -4vh;
    left: 60%;
    border: 1rem solid;
    border-color: transparent transparent #aaa transparent;
}
header .list ul li{
    width: 98vw;
    margin-right: 2vw;
}
header .list ul li:not(:last-of-type){
    border-bottom: 3px solid var(--color5);
}
.home{
    height: max-content;
}
.home section .slider{
    width: 100%;
    height: max-content;
    margin-bottom: 2vh;
}
.home section .info{
    width: 100%;
    height: max-content;
}
.about{
    height: max-content;
}
.about section .history{
    width: 95%;
    height: max-content;
    margin: 0 auto;
}
.about section .cards{
    width: 95%;
    height: max-content;
    display: flex;
    flex-direction: column;
}
.about section .cards .card{
    width: 60%;
    margin: 0 auto 3vh;
    box-shadow: 0 0 5px 2px var(--color3);
}
.cont section form{
    width: 100%;
}
.cont section form input,textarea{
    width: 75%;
}
.cont section form input[type='submit']{
    width: 40%;
}
.login form{
    width: 100%;
}
.login form input:not([type='submit']){
    width: 75%;
}
.login form input[type='submit']{
    width: 40%;
}
.reg section .choose{
    width: 40%;
}
.reg section .ind input, .comp input{
    width: 80%;
}
.reg section .ind select, .comp select{
    width: 50%;
}
.reg section .ind input[type='submit'], .comp input[type='submit']{
    width: 40%;
}